{% extends "template_base.html" %}

{% block content %}
    <h2>Item list:</h2>
    <table>
    <tr>
        <td>Local ID</td>
        <td>Name</td>
        <td>Description</td>
        <td>Category ID</td>
        <td>Category Name</td>
        <td>Creator ID</td>
        <td>Creator Name</td>
        <td>Date Changed</td>
        <td>Picture</td>
    </tr>
    {% for i in items %}
    <tr>
        <td>{{ i.item_id }}</td>
        <td>{{ i.name }}</td>
        <td>{{ i.description }}</td>
        <td>{{ i.cat_id }}</td>
        <td>{{ i.cat_name }}</td>
        <td>{{ i.creator_id }}</td>
        <td>{{ i.creator_name }}</td>
        <td>{{ i.changed }}</td>
        <td><img src="data:image/jpeg;base64,{{ i.pic }}" /></td>
    </tr>
    {% endfor %}
    </table>
{% endblock %}
