{% extends "template_base.html" %}

{% block content %}

        <h2>{{ item.name }}</h2><hr />
        <div>
            <img class="img-thumbnail" src="data:image/jpeg;base64,{{ item.pic }}" />
        </div><br />
        <div>
            <div>Category:</div>
            <div class="well">{{ item.cat_name }}</div>
        </div><br />        
        <div>
            <div>Description:</div>
            <div class="well">{{ item.description }}</div>
        </div><br />
        <div>
            <div>Created by:</div>
            <div class="well">{{ item.creator_name }}</div>
        </div><br />
        <div>
            <div>Last Updated:</div>
            <div class="well">{{ item.changed }}</div>
        </div><br />

{% endblock %}
